.wrapper {
  position: relative;

  &.error {
    .input {
      border-color: #e30000;
      background-color: #fff2f4;
    }

    .label {
      color: #e30000;
    }
  }
}

.input {
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  padding: 18px 16px 0 16px;
  border: 1px solid #d2d2d7;
  font-size: 17px;
  line-height: 21px;
  color: #1d1d1f;
  background-color: hsla(0, 0%, 100%, .9);
  border-radius: 12px;
  outline: none;
  text-align: left;
  appearance: none;

  &:focus {
    border-color: #0071e3;
    box-shadow: 0 0 0 4px rgba(0, 125, 250, .6);
    outline-offset: 1px;
  }

  &:focus, &:valid {
    & ~ .label {
      top: 8px;
      font-size: 12px;
    }
  }
}

.label {
  position: absolute;
  pointer-events: none;
  transition-timing-function: ease-in;
  transition-duration: .125s;
  top: 18px;
  left: 16px;
  font-size: 17px;
  line-height: 21px;
  color: #86868b;
  white-space: nowrap;
}
