:root {
  --background-active: rgb(23, 87, 240);
  --background-grey: rgb(132, 137, 150);
  --background-panel: rgb(244, 244, 244);
  --color-base: #000;
  --color-base-white: #FFF;
  --color-des: rgb(32, 32, 32);
  --color-des-white: rgba(180, 204, 253);
  --padding-common: 10px;
  --border-common: 1px solid rgb(214, 214, 214);
  --header-height: 50px;
}
